{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <section>
                <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                    <h3>Vote aqui!</h3>
                    <p>Why do you interactively procrastinate high-payoff content without backward-compatible data?</p>
                    <ul>
                        <li><input id="cb6" name="cb6" type="checkbox"><label for="cb6">Credibly reintermediate backend ideas</label></li>
                        <li><input id="cb7" name="cb7" type="checkbox"><label for="cb7">Continually reintermediate integrated processes</label></li>
                        <li><input id="cb8" name="cb8" type="checkbox"><label for="cb8">Distinctively exploit optimal alignments</label></li>
                        <li><input id="cb9" name="cb9" type="checkbox"><label for="cb9">Quickly coordinate e-business applications</label></li>
                    </ul>

                    <p>Why do you interactively procrastinate high-payoff content without backward-compatible data?</p>
                    <ul>
                        <li><input id="cb6" name="cb6" type="checkbox"><label for="cb6">Credibly reintermediate backend ideas</label></li>
                        <li><input id="cb7" name="cb7" type="checkbox"><label for="cb7">Continually reintermediate integrated processes</label></li>
                        <li><input id="cb8" name="cb8" type="checkbox"><label for="cb8">Distinctively exploit optimal alignments</label></li>
                        <li><input id="cb9" name="cb9" type="checkbox"><label for="cb9">Quickly coordinate e-business applications</label></li>
                    </ul>
                </form>
            </section>

            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-success btn-lg">Votar!</button>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets 'bundles/procergsvprcore/css/ballot/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts
            'bundles/procergsvprcore/js/ballot/ballot.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
