{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Vote aqui!</h3>
        <p>

        </p>

        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Votar!</button>
    </div>
{% endblock %}
