{% extends 'PROCERGSVPRCoreBundle::base.logout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>{% trans %}Thank you for your participation{% endtrans %}</h1>
        <p>{% trans %}Thank you for your collaboration in this process, your participation was very important!{% endtrans %}</p>
    </div>
</div>
{% endblock %}
