{% extends 'PROCERGSVPRCoreBundle::base.logout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>{% trans %}Thank you for your participation{% endtrans %}</h1>
        <p class="bg-success">{% trans %}Sua participação foi muito importante!<br /> Responda à <a href:"http://www.participa.rs.gov.br" title="Pesquisa do Banco Mundial sobre a Votação de Prioridades">pesquisa do Banco Mundial sobre a Votação de Prioridades</a> e ajude a fortalecer a participação no RS!{% endtrans %}<br /></p>
    </div>
    <div class="col-md-12 text-center">
        <p><a class="btn btn-success btn-lg" role="button" href="{{ path('procergsvpr_core_homepage') }}">{{ 'Back to home' | trans }}</a></p>
    </div>

</div>
{% endblock %}
