{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">        
        <h4>{{ 'default.already.vote.title' | trans }}</h4>
        <p>{{ 'default.already.vote.message' | trans }}</p>        
    </div>
</div>
{% endblock %}
