{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">

        <div class="alert alert-danger fade in">
            <h4>Horário encerrado</h4>
            <p>O horário da votação já foi encerrado!</p>
        </div>

    </div>
</div>
{% endblock %}
