{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Horário encerrado</h3>
        <p>
            O horário da votação já foi encerrado!
        </p>
    </div>
{% endblock %}
