{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
      <div class="row">
        <div class="col-md-12">
          <h3>
            Selecione seu domicílio eleitorar
            <br>
          </h3>
          <p>
            Para que seu voto seja válido, infome o município ao qual está vinculado
            seu título de eleitor. Isso é: onde você vota?
            <br>
          </p>
          <form>
            <div class="form-group">
              <label>
                Município
              </label>
              <input placeholder="Porto Alegre" class="form-control" type="text">
              <button type="submit" class="btn btn-primary">
                Click!
              </button>
            </div>
          </form>
        </div>      
{% endblock %}
