{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Selecione seu domicílio eleitorar</h3>
        <p>
            Para que seu voto seja válido, infome o município ao qual está vinculado
            seu título de eleitor. Isso é: onde você vota?
        </p>
        <form role="form">
            <div class="form-group">
                <label for="exampleInputPassword1">Município</label>
                <input type="text" class="form-control" placeholder="Porto Alegre">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}