{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">

        <div class="jumbotron">
          <h3>NFG fraca!</h3>
          <p>Infelizmente seu cadastro na NFG não é forte o suficiente. Acesse a NFG e melhore seu cadastro completando mais campos. Vá lá arrumar e volte aqui. Não feche a janela!</p>
          <p><a class="btn btn-primary btn-lg" role="button">Clique para acessar a nfg</a></p>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Caso já tenha reforçado a NFG
                </p>
                <p><a href="" class="btn btn-primary">clique aqui</a></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Caso deseje pular essa etapa.
                </p>
                <p><a href="" class="btn btn-primary">clique aqui</a></p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
