{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
{% if name is not defined %}
{% set name = 'default.closing_time.poll.name' | trans %}
{% endif %}
{% if closingTime is not defined %}
{% set closingTime = '' %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger fade in">
            <h4>{{ 'Voting time is up!' | trans }}</h4>
            <p>{{ 'The poll %poll% has ended at %closingTime%' | trans({'%poll%' : name, '%closingTime%': closingTime |date('d/m/Y H:i:s')}) }}</p>
        </div>
    </div>
</div>
{% endblock %}
