<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Participação Popular e Cidadã</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin:0;">
    <table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:98%">
        <tbody>
            <tr>
                <td style="font-family:'Open Sans',arial;font-size:12px;padding:0px;background:#e0e1e5">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:100%">
                        <tbody>
                            <tr>
                                <td style="font-size:11px;font-family:'Open Sans',arial;padding:0;border-left:none;border-right:none;border-top:none;border-bottom:none">
                                    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0;width:100%">
                                                    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#039936" style="border-collapse:collapse;width:100%;background:#039936;border-color:#0a1f4f;border-style:solid;border-width:0px 0px 1px 0px;height:47px">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <center>
                                                                        <table width="610" cellspacing="0" cellpadding="0" height="44" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="width:100%;line-height:47px">
                                                                                        <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><a target="_blank" style="color:#ffffff;text-decoration:none;font-weight:bold;font-family:lucida grande,tahoma,verdana,arial,sans-serif;vertical-align:baseline;font-size:20px;letter-spacing:-0.03em;text-align:left" href="http://vota.rs.gov.br">Participação Popular e Cidadã</a></td>
                                                                                                    <td width="10" style="width:10px"></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;width:100%">
                                                    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#e0e1e5" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="19">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <center>
                                                                        <table width="610" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left" style="background-color:#ffffff;border-color:#c1c2c4;border-style:solid;display:block;border-width:1px;border-radius:5px;overflow:hidden">
                                                                                        <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding:35px">
                                                                                                        <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td colspan="2" style="font-size:14px;font-family:'Open Sans',arial;padding-bottom:6px">
                                                                                                                        <div>
<p>Esse é um lembrete para você não esquecer de <a target="_blank" style="color:#3b5998;text-decoration:none" href="{{ urlCustom }}">confirmar a criação dos seu Login Cidadão</a></p>

<p>Olá, {{ fullName }}, tudo bem?</p>

<p>Lembra que antes do 7 x 1 da Alemanha e da corrida eleitoral, você participou de um processo para definir as prioridades orçamentárias do Estado?</p>

<p>Pois é, foi um ano e tanto. Mas o ciclo orçamentário não pára, e é por isso que estamos aqui. =D</p>

<p>Primeiro gostaríamos de agradecer a você que participou da <span style="font-weight:bold;">Votação de Prioridades do Orçamento do Estado do Rio Grande do Sul para 2015</span>, entre os dias 2 e 4 de junho de 2014, contribuindo com pelo menos um dos <span style="font-weight:bold;">255.751</span> votos por meio da Internet. Um Recorde Mundial! \o/ \o/ \o/</p> 

<p style="font-style: italic;">Veja os resultados que nos deixaram pra lá de satisfeit@s: <a target="_blank" style="color:#3b5998;text-decoration:none" href="https://vota.rs.gov.br/register#results">https://vota.rs.gov.br/register#results</a></p>

<p>Também é com grande satisfação que, depois de uma longa jornada de ajustes e melhorias nas ferramentas e serviços digitais de Governo, entramos em contato para dizer que ''está tudo pronto'' e lembrar que você ainda pode efetivar a criação do seu <span style="font-weight:bold;">Login Cidadão</span>.</p> 

<p style="font-style: italic;">Mas o que é mesmo o <span style="font-weight:bold;">Login Cidadão?</span></p> 
<p style="font-style: italic;">É a chave de entrada para o <span style="font-weight:bold;">MEU RS</span>: plataforma que <span style="font-weight:bold;">facilita e simplifica</span> o acesso aos <span style="font-weight:bold;">serviços digitais</span> oferecidos pelo Governo do Estado do Rio Grande do Sul, por meio de um cadastro integrado e um catálogo de <span style="font-weight:bold;">aplicativos</span> e <span style="font-weight:bold;">ferramentas</span> digitais de <span style="font-weight:bold;">cidadania colaborativa</span>.</p>
<p style="font-style: italic;">Uma nova concepção de relacionamento entre o <span style="font-weight:bold;">Estado</span> e a <span style="font-weight:bold;">Sociedade</span>, que garante uma experiência de comunicação e governança com privacidade e segurança. <span style="font-weight:bold;">Veja mais</span>: <a target="_blank" style="color:#3b5998;text-decoration:none" href="https://meu.rs.gov.br/sobre">https://meu.rs.gov.br/sobre</a></p>

<p>Vale lembrar que, pela primeira vez, o <span style="font-weight:bold;">Gabinete Digital</span> articulou uma parceria com a <span style="font-weight:bold;">Receita Estadual</span>, através da qual os participantes da votação que criarem uma conta no MEU RS receberão até dois bilhetes extras para participar do Sorteio do Milhão, da <span style="font-weight:bold;">Nota Fiscal Gaúcha</span>. Um por participar da <span style="font-weight:bold;">Votação de Prioridades</span> e mais um por se cadastrar no <span style="font-weight:bold;">Login Cidadão</span>.</p>

<p>Portanto, não perca tempo! Clique no botão abaixo para confirmar a criação do seu <span style="font-weight:bold;">Login Cidadão</span> com os mesmos dados fornecidos por você durante a Votação de Prioridades, antes do dia 15 de Janeiro, para que seus bilhetes extras sejam computados a tempo do sorteio.</p>
																														
																														</div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td style="font-size:11px;font-family:'Open Sans',arial;padding-top:6px;padding-bottom:6px" colspan="2"></td>
                                                                                                                </tr>
                                                                                                                
                                                                                                                <tr>
                                                                                                                    <td style="font-size:11px;font-family:'Open Sans',arial;padding-top:6px" colspan="2">
                                                                                                                        <a target="_blank" style="color:#3b5998;text-decoration:none" href="{{ urlCustom }}">
                                                                                                                            <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#039935" style="border-collapse:collapse;display:block;font-size:14px;text-align:center" align="center">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td height="7" style="line-height:7px" colspan="3">&nbsp;</td>
                                                                                                                                    </tr>
                                                                                                                                    <tr>
                                                                                                                                        <td width="16" style="display:block;width:16px">&nbsp;</td>
                                                                                                                                        <td width="100%" style="text-align:center">
                                                                                                                                            <a target="_blank" style="color:#3b5998;text-decoration:none;display:block" href="{{ urlCustom }}">
                                                                                                                                                <center><font size="3"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:14px;color:#ffffff">CLIQUE AQUI E CONFIRME SEU CADASTRO</span></font></center>
                                                                                                                                            </a>
                                                                                                                                        </td>
                                                                                                                                        <td width="16" style="display:block;width:16px">&nbsp;</td>
                                                                                                                                    </tr>
                                                                                                                                    <tr>
                                                                                                                                        <td height="7" style="line-height:7px" colspan="3">&nbsp;</td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td style="font-size:11px;font-family:'Open Sans',arial;padding-top:6px;padding-bottom:6px" colspan="2"></td>
                                                                                                                </tr>                                                                                                                
                                                                                                                <tr>
                                                                                                                	<td style="font-size:11px;font-family:'Open Sans',arial;padding-top:6px;background-color:#f3f3f3;" colspan="2">
	                                                                                                                	<div class="SafetyBarItem">
	                                                                                                                		<span>Too many newsletters? You can <a class="sfUnsubscribe" href="#" style="margin:0px;">unsubscribe</a>.</span>
	                                                                                                                	</div>
                                                                                                                	</td>                                                                                                                
                                                                                                                </tr>                                                                                                                
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                            <td style="padding:0;width:100%">
                                                <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <center>
                                                                    <table width="610" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="610" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-size:12px;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;padding:18px 0;border-left:none;border-right:none;border-top:none;border-bottom:none;color:#6a7180;font-weight:300;line-height:16px;text-align:center;border:none">
                                                                                                    Copyleft @2014 Governo do Rio Grande do Sul
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </center>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>