{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12 general-content">
        <h1>{% trans %}Validation with Nota Fiscal Gaúcha{% endtrans %}</h1>
        <div class="alert alert-danger">{% trans %}
            To continue with the voting fill the information missing below for it to be validated against Nota Fiscal Gaúcha's database.
        {% endtrans %}</div>
        <p><a id="btn-continue" class="btn btn-primary" role="button" >{{ 'Continue'|trans }}</a></p>
        <p><a id="btn-skip" class="btn btn-primary" role="button" href="{{ path('procergsvpr_core_end') }}">{{ 'Skip Step' | trans }}</a></p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    var posvote = {};
</script>
{% endblock %}