{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Você não tem NFG</h3>
        <div class="alert alert-success">Obrigado por votar!</div>
    </div>

    <div class="col-md-6">
        <div class="jumbotron">
            <p>Você pode reforçar a segurança com a NFG. Cadastre-se e volte aqui. Não feche a janela!</p>
            <p><a class="btn btn-primary" role="button">Clique para acessar a nfg</a></p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="jumbotron">
            <p>Caso já tenha reforçado a NFG</p>
            <p><a class="btn btn-primary" role="button">clique aqui</a></p>
        </div>
    </div>
</div>
{% endblock %}
