security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512
        PROCERGS\VPR\CoreBundle\Entity\Voter: sha512

    role_hierarchy:
        ROLE_STATS:       ROLE_USER
        ROLE_CRUD_POLL:       ROLE_USER
        ROLE_CRUD_BALLOTBOX:       ROLE_USER
        ROLE_MANAGE_USER:       ROLE_USER
        ROLE_ADMIN:       [ROLE_STATS, ROLE_CRUD_POLL, ROLE_CRUD_BALLOTBOX, ROLE_MANAGE_USER]
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            anonymous: true
            form_login:
                provider: fos_userbundle
                login_path: /register
                check_path: /login_check
                csrf_provider: security.csrf.token_manager
                failure_path: /register

            oauth:
                resource_owners:
                    loginCidadao:  "/login/check-cidadao"
                login_path:   /register
                failure_path: /register
                oauth_user_provider:
                    service: user_provider

            logout:
                path: /logout
                success_handler: vpr.logout.handler

    access_control:
        - { path: ^/counting, role: ROLE_ADMIN }

        - { path: ^/ballotbox, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/public, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/connect, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/places, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/ballot, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/end, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/poll, role: ROLE_CRUD_POLL }
        - { path: ^/admin/, role: ROLE_ADMIN }
        - { path: ^/stats/update_total_votes$, role: ROLE_ADMIN }
        - { path: ^/stats/update_total_option_votes$, role: ROLE_ADMIN }
        - { path: ^/reports, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/stats, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, role: IS_AUTHENTICATED_FULLY }