{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block number_widget %}
{% spaceless %}
    {% set type = type|default(attr['type']) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock number_widget %}

{% block voter_registration_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {% set attr = attr|merge({'class': attr['class'] ~ ' voter-registration-input'}) %}
    {{ block('form_widget_simple') }}
    <a href="{{ tre_search_link }}" class="label label-primary pull-left tre-search-link" target="_blank" tabindex="-1">
            {% trans %}Don't know your Voter Registration?{% endtrans %}
            {% trans %}Click here to check it out{% endtrans %}
    </a>
{% endspaceless %}
{% endblock voter_registration_widget %}
