/* 
    Document   : estilos_locais
    Created on : 21/06/2012, 14:24:24
    Author     : diego-giacobo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div.ui-widget > input, div.ui-widget > label{
	margin: 20px;
}

div.descricao > table{
	margin: 20px 0 0 20px;
	min-width: 400px;
}

.top_table{
	font-weight: bold;
	font-size: larger;
}
