/* 
    Document   : locais
    Created on : 04/07/2012, 11:47:27
    Author     : diego-giacobo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.descricao{
	margin-top: 30px;
}
.descricao table{
	min-width: 500px;
}

