/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-size: 11px;
		background-color: #360;
		font-family: Verdana, Geneva, sans-serif;
		color: #333;
	}
	
	.container.internal .identification { height: 100px; margin: 10px 0 25px; background: url('/images/fundo_identificacao_central.png') no-repeat; }
	.container.internal .identification>div { margin: 15px 0 0 25px; }
	.container.internal .identification h1 { font-size: 14px; color: #C30; margin-bottom: 10px; }
	.container.internal .identification p.name { font-weight: bold; }
	
	.container.internal .footer { margin-top: 50px; min-height: 25px; }
	
	.internal { max-width: 940px; margin: 8px auto 50px; background: #fff url('/images/fundo_rodape_interna.png') repeat-x bottom; }
	.internal .content_head { margin: 15px 0; padding-bottom: 10px; border-bottom: 1px solid #ccc; }
	.internal .content_head h3 { font-size: 14px; margin: 10px 0; }
	
	.internal .row.group .last { text-align: center; }
	.internal .row.group .last fieldset,.internal .row.group h2 { text-align: justify; }
	.internal .row.group h2 { color: #360; font-size: 14px; margin-bottom: 15px; }
	.internal .row.group legend { display: none; }
	.internal .row.group dl dt:first-child { border: none; }
	.internal .row.group dl dt { padding-top: 10px; margin: 10px 0 4px; color: #666; font-size: 10px; text-transform: uppercase; font-weight: bold; border-top: 1px solid #ccc; }
	.internal .row.group dl dd { padding: 1px 0; }
	.internal .row.group dl dd label { display: inline-table; }
	.internal .row.group dl dd label .cod_projeto { font-weight: bold; }
	
	.container .header .gov { text-align: right; }
	.container .header { padding: 20px 12px 0; }
	
	.container.home { text-align: center; max-width: 760px; margin: 4% auto 0; background-color: transparent; }
	.container .static_bg { background: url('/images/fundo_capa.jpg') no-repeat; height: 535px; overflow: visible; }
	.container .static_bg { padding: 0; -webkit-box-shadow: 0px 0px 20px 0px #000; box-shadow: 0px 0px 20px 0px #000; }
	.container.home .header h1 { margin-left: 50px; background: url('/images/logotipo.png') no-repeat left; width: 330px; height: 171px; text-indent: -9999px; }
	.container.home .header h2 { border-left: 2px solid green; padding-left: 35px; margin-top: 77px; background: url('/images/logotipo.png') no-repeat right bottom; width: 290px; height: 73px; text-indent: -9999px; }
	
	.home .online_voting_dates { font-size: 12px; font-weight: bold; }
	
	.home .vote_now { background: url('/images/fundo_votar.png'); padding: 20px 0 15px; margin-top: 50px; }
	.home .vote_now a { display: inline-block; color: #360; font-weight: bold; font-size: 24px; text-align: left; padding: 3px 0 0 75px; height: 70px; background: url('/images/icone_votar.png') no-repeat; }
	
	.home .queries { margin-top: 50px; }
	
	.home .queries div a { background-image: url('/images/icone_cedula.png'); }
	.home .queries .last a { background-image: url('/images/icone_locais.png'); }
	.home .queries a { display: inline-block; color: #333; font-weight: bold; font-size: 14px; text-align: left; padding: 0 0 0 75px; line-height: 64px; background: no-repeat; }
	
	.container .row.footer { margin-top: 35px; }
	.container .footer ul li:first-child { border: none; }
	.container .footer ul li { display: inline-block; border-left: 1px solid #333; padding: 0 20px; }
	.container .footer ul li a { font-size: 10px; text-decoration: none; color: #333; padding: 0 3px; margin: 0; }
	
	.home.container .footer ul li a { padding-left: 7px; margin-right: 3px; }
	
	.footer { text-align: center; }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	.container .header { text-align: center; }
	.container .header .gov { text-align: center; }
	.container .identification { background-image: none; }
	
	.container.home .header h1 { margin-left: 0; }
	.container.home .header h2 { border-left: none; margin-top: 0; }
	
	.home .vote_now , .home .queries, .home .queries .last { margin-top: 10px; }
	.home .queries div a { margin-left: 13px; }
	.home .queries .last a { margin-left: 0; }
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/
	
	body { }
	
	.container.home .header h2 { border-left: none; }
}