{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'admin.welcome'|trans %}

{% block content -%}
    <div class="row">
        <div class="col-md-12">
            <h3>Área administrativa</h3>
        </div>
    </div>
{% endblock %}