{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'Admin Area'|trans %}

{% block content -%}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'Admin Area' | trans }}</h3>
        </div>
    </div>
{% endblock %}