@CHARSET "UTF-8";

/* temp */
#jumbo {
  background-color: #333;
  color: #eee;
}
#jumbo p {
  font-size: 16px;
}
#try-header {
  margin: 30px 0px;
}
#try-more {
  margin: 30px 0px;
  font-style: italic;
}


/* base */
html {
  min-height: 100%;
  position: relative;
}

body {
  color: #007136;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 45px;
}

body > .container {
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.navbar {
  margin-bottom: 0;
}

header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  line-height: 140px;
  vertical-align: middle;
}

header .img-responsive {
  display: inline-block;
}

footer {
  background-color: #2c8f47;
  bottom: 0;
  height: 45px;
  position: absolute;
  width: 100%;
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.tooltip-inner {
  background-color: #007136;
  border-radius: 0;
  font-size: 15px;
  padding: 8px;
}

.tooltip-inner span,
.tooltip-inner a {
  display: block;
}

.tooltip-inner a {
  color: #FFF;
  font-size: 18px;
  text-decoration: underline;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #007136;
}

/* override boostrap */
.alert,
.btn,
.form-control {
  border-radius: 0;
}

.has-feedback .sr-only ~ .form-control-feedback {
  top: 0;
}

.form-control {
  background-color: #a5d6b3;
  border: none;
  color: #007034;
}

.form-control:-moz-placeholder {
  color: #007136;
}

.form-control::-moz-placeholder {
  color: #007136;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #007136;
}

.form-control::-webkit-input-placeholder {
  color: #007136;
}

.form-control-feedback {
  visibility: hidden;
}

.has-error .form-control-feedback {
  visibility: visible;
}

.btn {
  border:none;
}

.btn-success {
  background-color: #007136;
}


/*
 * Register/Login section
 */

 #how-to-vote {
  color: #D2750E;
  display: inline-block;
  margin: 20px;
  position: relative;
}

#how-to-vote:before {
  background: url('../images/icon-set.png') -12px -6px no-repeat;
  content: "";
  display: block;
  height: 21px;
  left: -30px;
  position: absolute;
  top: 2px;
  width: 20px;
}

.register-box {
  margin-bottom: 0;
}

.register-box .col-md-5,
.info-box .col-md-5 {
  margin: 0;
  padding: 20px;
}

.register-box .col-md-5,
.info-box .col-ballot {
  border-bottom: solid 1px #CCC;
}

.register-box .title {
  color: #D2750E;
  cursor: pointer;
  margin: 0;
  padding-left: 50px;
  position: relative;
  text-align: center;
}

.register-box .spacer {
  border: none;
  border-right: solid 2px #D2750E;
  height: 300px;
  margin-bottom: 50px;
  width: 1px;
}

.register-form-container {
  max-height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.register-form-container.animate {
  max-height: 1000px;
}

.register-form {
  margin-top: 20px;
}

.register-box #about-lc-link {
  margin: 20px 0;
}

.info-box {
  font-size: 24px;
}

.link-check {
  display: block;
  color: #007136;
  font-size: 20px;
  padding-left: 50px;
  position: relative;
}

.link-check .text {
  position: relative;
}

/*
 * Small devices
 */
@media (max-width: 767px)  {
  #how-to-vote {
    font-size: 20px;
  }

  .register-box .title .text {
    display: inline-block;
    font-size: 20px;
    position: relative;
  }

  .register-box .title .text:before {
    background-image: url('../images/icon-set.png');
    content: "";
    display: block;
    left: -45px;
    position: absolute;
  }

  .register-label .text:before {
    background-position:  -7px -50px;
    height: 38px;
    top: -10px;
    width: 29px;
  }

  .login-label .text:before {
    background-position:  -7px -126px;
    height: 25px;
    top: 0;
    width: 30px;
  }

  .link-check .text:before {
    background-image: url('../images/icon-set.png');
    content: "";
    display: block;
    position: absolute;
  }

  .ballot-check .text:before {
    background-position: -7px -193px;
    height: 35px;
    left: -43px;
    top: -6px;
    width: 26px;
  }

  .place-check .text:before {
    background-position: 0 -259px;
    height: 35px;
    left: -50px;
    top: -5px;
    width: 38px;
  }
}


/*
 * Medium devices
 */
@media (min-width: 768px) and (max-width: 991px) {
  .info-box .col-ballot {
    margin-bottom: 100px;
  }
}


/*
 * Large devices
 */
@media (min-width: 768px) {
  #how-to-vote:before {
    background: url('../images/icon-set-desktop.png') -19px -153px no-repeat;
    height: 41px;
    left: -60px;
    top: -3px;
    width: 39px;
  }

  .register-box {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .register-form-container {
    max-height: none;
    overflow: visible;
  }

  .register-box .col-md-5, .info-box .col-ballot {
    border-bottom: none;
  }

  .register-box .title {
    cursor: default;
    margin-bottom: 30px;
    padding-left: 0;
  }

  .register-form {
    margin-top: 0;
  }

  .info-box {
    margin-bottom: 50px;
  }

  .info-box .col-md-5 {
    padding: 0;
  }

  .link-check {
    padding-left: 0;
    text-align: center;
  }

  .link-check .text:before {
    background-image: url('../images/icon-set-desktop.png');
    content: "";
    display: block;
    position: absolute;
  }

  .ballot-check .text:before {
    background-position: -12px -76px;
    height: 72px;
    left: -70px;
    top: -15px;
    width: 54px;
  }

  .place-check .text:before {
    background-position: 0 -1px;
    height: 72px;
    left: -92px;
    top: -25px;
    width: 77px;
  }
}




/*
 * Typeahed plugin style
 */
 .twitter-typeahead {
  display: block !important;
}

.typeahead,
.tt-query,
.tt-hint {
  font-size: 24px;
  line-height: 30px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-hint {
  color: #999;
  font-size: 14px;
}

.tt-dropdown-menu {
  background-color: #d8e6a5;

  width: 100%;
}

.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 6px 12px;
}

.tt-suggestion.tt-cursor {
  color: #000;
  cursor: pointer;
  background-color: #EEE;
}

.tt-suggestion p {
  margin: 0;
  font-size: 14px;
}