@CHARSET "UTF-8";

/* temp */
#jumbo {
  background-color: #333;
  color: #eee;
}
#jumbo p {
  font-size: 16px;
}
#try-header {
  margin: 30px 0px;
}
#try-more {
  margin: 30px 0px;
  font-style: italic;
}


/* base */
html {
  min-height: 100%;
  position: relative;
}

body {
  color: #2e8f48;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 45px;
}

body > .container {
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.navbar {
  margin-bottom: 0;
}

header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  line-height: 140px;
  vertical-align: middle;
}

header .img-responsive {
  display: inline-block;
}

footer {
  background-color: #2c8f47;
  bottom: 0;
  height: 45px;
  position: absolute;
  width: 100%;
}

/* override boostrap */
.alert,
.btn,
.form-control {
  border-radius: 0;
}

.has-feedback .sr-only ~ .form-control-feedback {
  top: 0;
}

.form-control {
  background-color: #a5d6b3;
  border: none;
  color: #007034;
}

.form-control:-moz-placeholder {
  color: #2e8f48;
}

.form-control::-moz-placeholder {
  color: #2e8f48;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #2e8f48;
}

.form-control::-webkit-input-placeholder {
  color: #2e8f48;
}

.form-control-feedback {
  visibility: hidden;
}

.has-error .form-control-feedback {
  visibility: visible;
}

.btn {
  border:none;
}

.btn-success {
  background-color: #2e8f48;
}


/*
 * Register/Login section
 */
 #how-to-vote {
  display: inline-block;
  font-weight: 100;
  margin: 30px;
  position: relative;
 }

 #how-to-vote .icon {
  background: url('../images/icon_set.png') no-repeat;
  background-position: -19px -153px;
  display: inline-block;
  height: 41px;
  right: 10px;
  position: relative;
  top: 10px;
  width: 39px;
 }

 #how-to-vote .text {
  display: inline-block;
 }

.register-box .tooltip {
  font-size: 15px;
}

.register-box .tooltip a {
  color: #FFF;
}

.register-box .title {
  color: #db954b;
  margin-bottom: 30px;
  text-align: center;
}

.register-box .spacer {
  border: none;
  border-right: solid 2px #db954b;
  height: 300px;
  margin-bottom: 50px;
  width: 1px;
}

.register-box .col-md-5 {
  margin-bottom: 50px;
  padding: 0 50px;
  text-align: center;
}

.register-box #about-lc-link {
  margin: 20px 0;
}

.info-box {
  font-size: 24px;
  margin-bottom: 50px;
}

.link-check {
  color: #2e8f48;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .info-box .col-ballot {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {

  .link-check .icon {
    background: url('../images/icon_set.png') no-repeat;
    display: block;
    position: absolute;
  }

  .ballot-check .icon {
    background-position: -12px -76px;
    height: 72px;
    left: -70px;
    top: -15px;
    width: 54px;
  }

  .place-check .icon {
    background-position: 0 -1px;
    height: 72px;
    left: -92px;
    top: -25px;
    width: 77px;
  }
}

@media (max-width: 767px) {

  .register-box {
    margin-bottom: 0;
  }

  .register-form-container {
    max-height: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  .register-form-container.slide {
    max-height: 1000px;
  }

  .register-form {
    margin-top: 20px;
  }

  .register-box .col-md-5,
  .info-box .col-md-5 {
    padding: 0 10px;
  }

  .register-box .col-md-5,
  .info-box .col-ballot {
    border-bottom: solid 1px #CCC;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .register-box .title {
    cursor: pointer;
    margin-bottom: 0;
  }

  .register-box .title .icon,
  .info-box .link-check .icon {
    display: inline-block !important;
    margin-right: 10px;
  }

}


/*
 * Typeahed plugin style
 */
.twitter-typeahead {
  display: block !important;
}

.typeahead,
.tt-query,
.tt-hint {
  font-size: 24px;
  line-height: 30px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-hint {
  color: #999;
  font-size: 14px;
}

.tt-dropdown-menu {
  background-color: #d8e6a5;

  width: 100%;
}

.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 6px 12px;
}

.tt-suggestion.tt-cursor {
  color: #000;
  cursor: pointer;
  background-color: #EEE;
}

.tt-suggestion p {
  margin: 0;
  font-size: 14px;
}






/*
 * steps/poll style
 */
 .step-box {
  height: 100%;
  min-height: 500px;
 }

 .step-box .loader {
  display: none;
 }
