@CHARSET "UTF-8";

/* ==========================================================================
   Base css and override bootstrap
========================================================================== */
html {
    min-height: 100%;
    position: relative;
}

body {
    color: #007136;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 294px!important;
}

body > .container {
    /*padding: 0.2em 0.5em 0.2em;*/
    padding-bottom: 2.0em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.navbar {
    margin-bottom: 0;
}

a {
    cursor: pointer;
}

#lc-navbar {
    margin-bottom: 0!important;
}

header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    line-height: 1em;
    vertical-align: middle;
}

header a,
header a:active,
header a:focus,
header a:hover {
    color: #4D8E28;
    text-decoration: none;
}
header a {
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
    text-shadow: 1px 1px 2px #666;
}

header .img-responsive {
    display: inline-block;
}

footer {
    background-image: -webkit-linear-gradient(top,#222 0,#3C3C3C 100%);
    background-image: linear-gradient(to bottom,#222 0,#3C3C3C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff3c3c3c', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-color: #222;
    bottom: 0;
    padding: 20px 0 6px;
    position: absolute;
    width: 100%;
}

footer .img-responsive {
    display: inline-block;
}

footer hr {
    border-top: solid 1px #CCC;
    margin-bottom: 15px;
}

footer .images div[class^="col"] {
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    vertical-align: middle;
}

footer .about .col-xs-6 {
    margin-bottom: 10px;
}

footer .about a {
    color: #FFF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-inline {
    background-color: #dee9ce;
    background-color: rgba(222, 233, 205, 0.52);
    border-radius: 4px;
    margin: 20px auto;
    padding: 10px 50px;
}

.form-inline .form-group {
    margin-bottom: 0;
}

.form-inline label {
    color: #007136;
    font-size: 18px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
}

.form-inline .btn-block {
    padding: 6px 10px;
}
.form-inline-6col {
    padding: 1em;
    background-color: rgba(222, 233, 205, 0.52);
    border-radius: 4px;
}
.form-inline-6col {
    margin:0.5em auto;
}
.alert,
.btn,
.form-control {
    border-radius: 0;
}

.alert {
    border: none;
    font-size: 14px;
}

.has-feedback .sr-only ~ .form-control-feedback {
    top: 0;
}

.form-control {
    /*background-color: #a5d6b3;*/
    border: #80A34F solid 2px;
    color: #007034;

}

.form-control:-moz-placeholder {
    color: #007136;
}

.form-control::-moz-placeholder {
    color: #007136;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #007136;
}

.form-control::-webkit-input-placeholder {
    color: #007136;
}

.form-control-feedback {
    visibility: hidden;
}

.has-error .form-control-feedback {
    visibility: visible;
}

.btn {
    border:none;
}
.btn:hover {
    box-shadow: 1px 1px 2px #c0c0c0;
}

.btn-success {
    background-color: #00a14e;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip-inner {
    background-color: #007136;
    border-radius: 0;
    font-size: 15px;
    padding: 8px;
}

.tooltip-inner span,
.tooltip-inner a {
    display: block;
    margin: 2px 0;
}

.tooltip-inner a {
    color: #FFF;
    font-size: 18px;
    text-decoration: underline;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #007136;
}




.main-title {
    color: #007136;
    line-height: 35px;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.main-title .icon {
    display: inline-block;
    float: left;
    height: 35px;
    margin-right: 20px;
}

.main-title .icon:before {
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 35px;
}

.subtitle {
    color: #F0AD4E;
    margin-bottom: 40px;
}

.ballot-search-title .icon:before {
    background-position: -7px -193px;
    width: 26px;
}

.place-search-title .icon:before {
    background-position: 0 -259px;
    width: 38px;
}
/* share bar */
.twitter-share-button {
    width: 90px !important;
}

.home-icon,
.logout-icon,
.stats-icon
{
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 100px;
    position: relative;
    top: -4px;

}

.home-icon:hover,
.logout-icon:hover,
.stats-icon:hover {
    background-color: #e9e9e9;
}

p.bg-success {
    padding: 2% 1%;
    border-radius: 2px;
}

/* ==========================================================================
   Large devices
   ========================================================================== */
@media (min-width: 768px) {

    body {
        margin-bottom: 194px!important;
    }

    .form-inline .form-group {
        margin-right: 10px;
    }
    .form-inline-6col {
        margin: 0.5em 1%;
        max-width: 48%;
        min-height: 165px;
    }
    .main-title {
        line-height: 72px;
    }

    .main-title .icon {
        height: 72px;
        text-align: right;
    }

    .main-title .icon:before {
        background-image: url('../images/icon-set-desktop.png');
        height: 72px;
    }

    .ballot-search-title .icon:before {
        background-position: -12px -76px;
        width: 54px;
    }

    .place-search-title .icon:before {
        background-position: 0 -1px;
        width: 77px;
    }

    .twitter-typeahead {
        min-width: 300px;
    }

    .general-content {
        padding: 0 30px;
    }

    .general-content p {
        margin-bottom: 20px;
    }

    header {
        background-image: url(../images/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 140px;
        vertical-align: middle;
    }
    header.text-center > a {
        font-size: 2.2em;
        line-height: 120%;
    }
    #social-bar {
        background-color: #f6f6f6;
        padding: 0.5em 0 0 0;
    }

    .social-gplus {
        margin-left: 10px;
    }
}

/* ==========================================================================
   Medium devices
========================================================================== */
@media (min-width: 768px) and (max-width: 991px) {
    body > .container {
        /*padding: 20px 0;*/
    }

    .main-title .icon {
        text-align: left;
    }
    #social-bar {
        background-color: #2c8f48;
        padding: 5px 0;
    }
}



/* ==========================================================================
   Small devices
========================================================================== */
@media (max-width: 767px)  {
    .main-title {
        font-size: 20px;
    }

    .main-title .icon:before {
        background-image: url('../images/icon-set.png');
    }

    .twitter-typeahead {
        margin-bottom: 10px;
    }


}







/* Typeahed plugin style */
.twitter-typeahead {
    text-align: left;
    width: 100%;
}

.twitter-typeahead .form-control {
    height: 32px;
    width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
    font-size: 24px;
    line-height: 30px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-hint {
    color: #FFF!important;
    font-size: 14px;
    line-height: 20px;
}

.tt-dropdown-menu {
    /*background-color: #A5D6B3;*/
    background-color: #FFF;
    border: solid 1px #CCC;
    text-align: left;
    width: 100%;
}

.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 6px 12px;
}

.tt-suggestion.tt-cursor {
    color: #FFF;
    cursor: pointer;
    background-color: #00a14e;
}

.tt-suggestion p {
    margin: 0;
    font-size: 14px;
}


.search-box {
    padding: 20px;
}

.search-box dd dl {
    margin-left: 20px;
}


.table-striped {
    font-size: 15px;
}

.table-striped thead {
    background-color: #007136;
    color: #FFF;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #A5D6B3;
}

/* Hide input spinners */
input[type='number'],
input[type='tel']{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* Voter Registration Reminder */
.tre-search-link {
    font-size: 12px;
    margin: 5px 0;
    line-height: 15px;
    padding: 4px 9px;
}

.link-popup {
    margin: 0 0 30px;
}

.search-title {
    color: #007136!important;
}

.search-title .glyphicon {
    position: relative;
    top: 4px;
}

#lc-listener .lc-req li {
    color: red;
    margin-bottom: 10px;
}

#lc-listener .lc-req .glyphicon {
    margin-right: 10px;
}

.end-offer .thumbnail {
    border: none;
}

.end-offer .caption {
    margin: 0 auto;
    max-width: 300px;
    padding: 0;
}

.end-offer .caption .text {
    min-height: 100px;
}

.main-content .lc-link:hover {
    background: #008A43;
}
.main-content .lc-link {
    background: #299a0b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OWEwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzYzMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #299a0b 0%, #07630b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#07630b));
    background: -webkit-linear-gradient(top, #299a0b 0%,#07630b 100%);
    background: -o-linear-gradient(top,  #299a0b 0%,#07630b 100%);
    background: -ms-linear-gradient(top,  #299a0b 0%,#07630b 100%);
    background: linear-gradient(to bottom,  #299a0b 0%,#07630b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299a0b', endColorstr='#07630b',GradientType=0 );

    display: block;
    font-size: 15px;
    height: 55px;
    line-height: 55px;
    padding: 0 6px 0 51px;
    text-align: center;
    white-space: normal;
    border-radius: 2px;
}

.lc-link span {
    background-image: url("https://meu.rs.gov.br/bundles/procergslogincidadaocore/images/meu_logo.png");
    background-position: 0 -92px;
    display: inline-block;
    height: 42px;
    font-size: 18px;
    left: 10px;
    line-height: 42px;
    margin-right: 10px;
    padding: 0;
    position: absolute;
    top: 7px;
    vertical-align: middle;
    width: 42px;
    text-indent: -9999px;
}

.results {
    color: #000;
}

.results .table-striped>tbody>tr:nth-child(odd)>td,
.results .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.results .table-striped thead {
    background-color: #FFF;
    color: #000;
}