#lc-navbar{
    margin-bottom: 0 !important;
}
#procergs_vpr_corebundle_poll_closingTime select,
#procergs_vpr_corebundle_poll_openingTime select,
#procergs_vpr_corebundle_ballotbox_openingTime select,
#procergs_vpr_corebundle_ballotbox_closingTime select,
#procergs_vpr_corebundle_poll_apurationTime select
{
    margin-right: 6px;
}
#procergs_vpr_corebundle_poll_openingTime_time_minute,
#procergs_vpr_corebundle_poll_closingTime_time_minute,
#procergs_vpr_corebundle_ballotbox_openingTime_time_minute,
#procergs_vpr_corebundle_ballotbox_closingTime_time_minute,
#procergs_vpr_corebundle_poll_apurationTime_time_minute
{
    margin-left: 6px;
}
#procergs_vpr_corebundle_poll_openingTime_date,
#procergs_vpr_corebundle_poll_closingTime_date,
#procergs_vpr_corebundle_ballotbox_openingTime_date,
#procergs_vpr_corebundle_ballotbox_closingTime_date,
#procergs_vpr_corebundle_poll_apurationTime_date
{
    float: left;
    margin-right: 20px;
}
.form-actions {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #DDDDDD;
    margin-top: 45px;
    padding: 11px 0;
    min-height:52px;
}
.form-actions div a:first-child, .form-actions div button:first-child, .form-actions a.group-action {
    float: left;
    margin-right: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: inherit;
}
a.save-sorted{
    display: none;
    margin-bottom: 7px;
}
a.save-sorted-step{
    position: relative;
    top:-20px;
}

.alert-save-sorted{
    padding: 8px 15px;
    display: none;
}
.container .jumbotron {
    padding: 20px 35px;
}
.container .jumbotron form div.form-group{
    /*margin-right: 30px*/
}
.poll-option-step {
    border: 1px solid #DDDDDD;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.poll-option-step table tbody {
    background: #FCFCFC
}
.poll-option-step p.step, .poll-option-step p.category  {
    border: 1px solid #DDDDDD;
    padding: 8px;
}
.poll-option-step p.step {

}
.poll-option-step p.category {

}

.passphrase-box {
    padding: 20px;
    /*background-color: #FFFFCC;*/
}

.passphrase-box .passphrase {
    color: #f00;
    font-weight: bold;
    font-size: 100%;
    opacity: 0.2;
    transition: opacity .25s ease-in-out;
}

.passphrase-box:hover .passphrase {
    opacity: 1;
}

.category-list .category-color {
    border: solid 1px #CCC;
    height: 20px;
    margin: 0 auto;
    width: 20px;
}

.search-box {
    margin-bottom: 20px;
}
.search-form .form-group {
    width: 100%;
}
#admin_person_search_query {
    width: 100%;
    max-width: 300px;
    margin: 0;
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.ballot-check {
    height: 18px;
    width: 18px;
}

/* User Form */
form .user-roles {
    margin-top: 8px;
}
form .user-roles input {
    display: inline-block;
    float: left;
    clear: both;
    height: 20px;
    margin: 0 10px 15px 0;
    width: 20px;
}
form .user-roles label {
    display: inline-block;
    float: left;
}

.category-preview {
    color: #FFF;
    line-height: 40px;
    font-size: 17px;
    min-height: 40px;
    position: relative;
    /*padding-left: 50px;*/
}

.category-preview .bg {
    padding-left: 50px;
    position: relative;
    left: 0;
}

.category-preview .icon {
    background-color: rgba(0, 0,0,0.7);
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
}

.category-preview .icon .img {
    background-image: url(../../images/cat-icons.svg);
    content: "";
    display: block;
    height: 40px;
    width: 40px;
}

.category-preview .option .content {
    padding: 10px 30px 10px 50px;
    position: relative;
}

.category-preview input[type="checkbox"] {
    display: none;
}

.category-preview input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    display: block;
    vertical-align: middle;
    z-index: 100;
    width: 30px;
    height: 30px;
}

.category-preview input[type="checkbox"] {
    float: left;
    height: 20px;
    width: 20px;
}

.category-preview input[type="checkbox"], .category-preview label::before {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
}

.category-preview label {
    color: #007136;
    display: block;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}


.category-preview label::before {
    content: '';
    border: 2px solid #036e35;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.category-preview input[type="checkbox"], .category-preview label::before {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
}
















.pre-icon-1 .icon {
    background-position: 0 -9px;
}

.pre-icon-1 .icon .img {
    background-position: -65px -9px;
}

.pre-icon-2 .icon {
    background-position: 0px -68px;
}
.pre-icon-2 .icon .img {
    background-position: -65px -68px;
}

.pre-icon-3 .icon {
    background-position: 0 -130px;
}
.pre-icon-3 .icon .img {
    background-position: -65px -130px;
}

.pre-icon-4 .icon {
    background-position: 0 -191px;
}
.pre-icon-4 .icon .img {
    background-position: -65px -191px;
}

.pre-icon-5 .icon {
    background-position: 0 -250px;
}
.pre-icon-5 .icon .img {
    background-position: -65px -250px;
}

.pre-icon-6 .icon {
    background-position: 0 -310px;
}
.pre-icon-6 .icon .img {
    background-position: -65px -310px;
}

.pre-icon-7 .icon {
    background-position: 0 -370px;
}
.pre-icon-7 .icon .img {
    background-position: -65px -370px;
}

.pre-icon-8 .icon {
    background-position: 0 -430px;
}
.pre-icon-8 .icon .img {
    background-position: -65px -430px;
}

.pre-icon-9 .icon {
    background-position: 0 -490px;
}
.pre-icon-9 .icon .img {
    background-position: -65px -490px;
}

.pre-icon-10 .icon {
    background-position: 0 -550px;
}
.pre-icon-10 .icon .img {
    background-position: -65px -550px;
}

.pre-icon-11 .icon {
    background-position: 0 -610px;
}
.pre-icon-11 .icon .img {
    background-position: -65px -610px;
}

.pre-icon-12 .icon {
    background-position: 0 -670px;
}
.pre-icon-12 .icon .img {
    background-position: -65px -670px;
}

.pre-icon-13 .icon {
    background-position: 0 -730px;
}
.pre-icon-13 .icon .img {
    background-position: -65px -730px;
}

.pre-icon-14 .icon {
    background-position: 0 -790px;
}
.pre-icon-14 .icon .img {
    background-position: -65px -790px;
}

.pre-icon-15 .icon {
    background-position: 0 -850px;
}
.pre-icon-15 .icon .img {
    background-position: -65px -850px;
}

.pre-icon-16 .icon {
    background-position: 0 -910px;
}
.pre-icon-16 .icon .img {
    background-position: -65px -910px;
}



