#lc-navbar{
    margin-bottom: 0 !important;
}
#procergs_vpr_corebundle_poll_closingTime select,
#procergs_vpr_corebundle_poll_openingTime select,
#procergs_vpr_corebundle_ballotbox_openingTime select,
#procergs_vpr_corebundle_ballotbox_closingTime select,
#procergs_vpr_corebundle_poll_apurationTime select
{
    margin-right: 6px;
}
#procergs_vpr_corebundle_poll_openingTime_time_minute,
#procergs_vpr_corebundle_poll_closingTime_time_minute,
#procergs_vpr_corebundle_ballotbox_openingTime_time_minute,
#procergs_vpr_corebundle_ballotbox_closingTime_time_minute,
#procergs_vpr_corebundle_poll_apurationTime_time_minute
{
    margin-left: 6px;
}
#procergs_vpr_corebundle_poll_openingTime_date,
#procergs_vpr_corebundle_poll_closingTime_date,
#procergs_vpr_corebundle_ballotbox_openingTime_date,
#procergs_vpr_corebundle_ballotbox_closingTime_date,
#procergs_vpr_corebundle_poll_apurationTime_date
{
    float: left;
    margin-right: 20px;
}
.form-actions {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #DDDDDD;
    margin-top: 45px;
    padding: 11px 0;
    min-height:52px;
}
.form-actions div a:first-child, .form-actions div button:first-child, .form-actions a.group-action {
    float: left;
    margin-right: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: inherit;
}
a.save-sorted{
    display: none;
    margin-bottom: 7px;
}
a.save-sorted-step{
    position: relative;
    top:-20px;
}

.alert-save-sorted{
    padding: 8px 15px;
    display: none;
}
.container .jumbotron {
    padding: 20px 35px;
}
.container .jumbotron form div.form-group{
    /*margin-right: 30px*/
}
.poll-option-step {
    border: 1px solid #DDDDDD;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.poll-option-step table tbody {
    background: #FCFCFC
}
.poll-option-step p.step, .poll-option-step p.category  {
    border: 1px solid #DDDDDD;
    padding: 8px;
}
.poll-option-step p.step {

}
.poll-option-step p.category {

}

.passphrase-box {
    padding: 20px;
    /*background-color: #FFFFCC;*/
}

.passphrase-box .passphrase {
    color: #f00;
    font-weight: bold;
    font-size: 100%;
    opacity: 0.2;
    transition: opacity .25s ease-in-out;
}

.passphrase-box:hover .passphrase {
    opacity: 1;
}

.category-list .category-color {
    border: solid 1px #CCC;
    height: 20px;
    margin: 0 auto;
    width: 20px;
}

.search-box {
    margin-bottom: 20px;
}
.search-form .form-group {
    width: 100%;
}
#admin_person_search_query {
    width: 100%;
    max-width: 300px;
    margin: 0;
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.ballot-check {
    height: 18px;
    width: 18px;
}
