parameters:
    user_provider.class: PROCERGS\VPR\CoreBundle\Security\FOSUBUserProvider
    vpr_voting_session_provider.class: PROCERGS\VPR\CoreBundle\Security\VotingSessionProvider
    procergs_person.registration.form.type.class: PROCERGS\VPR\CoreBundle\Form\Type\RegistrationFormType
    kernel.listener.logged_in_user_listener.class: PROCERGS\VPR\CoreBundle\EventListener\LoggedInUserListener
    procergs.nfgws.class: PROCERGS\VPR\CoreBundle\Helper\NfgWsHelper
    form.type.voter_registration.class: PROCERGS\VPR\CoreBundle\Form\Type\VoterRegistrationType
    form.type.city.class: PROCERGS\VPR\CoreBundle\Form\Type\CityType

services:
    form.type.voter_registration:
        class: %form.type.voter_registration.class%
        tags:
            - { name: form.type, alias: voter_registration }
    form.type.city:
        class: %form.type.city.class%
        tags:
            - { name: form.type, alias: city }

    user_provider:
        class: "%user_provider.class%"
        arguments: [ "@fos_user.user_manager", { loginCidadao: loginCidadaoId } ]
        calls:
            - [setEntityManager, ["@doctrine.orm.entity_manager"]]
            - [setDispatcher, ["@event_dispatcher"]]
            - [setSession, ["@session"]]
            - [setTranslator, ["@translator"]]

    vpr_voting_session_provider:
        class: %vpr_voting_session_provider.class%
        arguments: [ @doctrine.orm.entity_manager, @session ]

    procergs_person.registration.form.type:
        class: %procergs_person.registration.form.type.class%
        arguments: [ PROCERGS\VPR\CoreBundle\Entity\Person ]
        tags:
            - { name: form.type, alias: vpr_person_registration }

    kernel.listener.logged_in_user_listener:
        class: %kernel.listener.logged_in_user_listener.class%
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }
        arguments: [ "@security.context", "@router", "@session" ]

    procergs.nfgws:
        class: %procergs.nfgws.class%
        calls:
            - [setUrl, [%nfg_ws_url%]]
            - [setOrganizacao, [%soe_organization%]]
            - [setUsuario, [%soe_username%]]
            - [setSenha, [%soe_password%]]

    kernel.listener.exception_listener:
        class: PROCERGS\VPR\CoreBundle\EventListener\ExceptionListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }
        calls:
            - [setRouter, ["@router"]]
            - [setSession, ["@session"]]
            - [setTrans, ["@translator"]]

    vpr.logout.handler:
      class: PROCERGS\VPR\CoreBundle\Security\AuthenticationHandler
      calls:
            - [setRouter, ["@router"]]

    vpr.person.listener:
        class: PROCERGS\VPR\CoreBundle\EventListener\PersonListener
        tags:
            - { name: kernel.event_subscriber }
        calls:
            - [setEntityManager, ["@doctrine.orm.entity_manager"]]

