{% extends 'PROCERGSVPRCoreBundle::base.html.twig' %}

{% block body %}

<h1>Resultados parciais</h1>

<ul>
  <li>
    <a href="{{ path('vpr_stats_votes') }}">Veje aqui a participação dos Coredes</a>
  </li>
</ul>


{% endblock %}