{% extends 'PROCERGSVPRCoreBundle::base.admin.html.twig' %}
{% set contentName = 'Categorias' %}
{% set actionName = 'Listar' %}

{% block content -%}
    <div class="navbar">
        <a class="btn btn-default" href="{{ path('category_new') }}" role="button"><span class="glyphicon glyphicon-file"></span> Adicionar</a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% include 'PROCERGSVPRCoreBundle:Admin/Category:list.html.twig' with {'entities': entities} %}
{% endblock %}