{% extends '::base.html.twig' %}

{% block header %}
{% include "PROCERGSVPRCoreBundle::navbar.html.twig" %}
<header class="text-center">
  {% image '@PROCERGSVPRCoreBundle/Resources/public/images/header-text.png' %}
  <img src="{{ asset_url }}" alt="{%trans%}Votação de prioridades{%endtrans%}" class="img-responsive">
  {% endimage %}
</header>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        <div class="container">
            {{ flashMessage }}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergsvprcore/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block footer %}
<footer></footer>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% javascripts
            '@PROCERGSVPRCoreBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

<!--[if lt IE 10]>
    <script type="text/javascript">
    $('input[placeholder], textarea[placeholder]').placeholder();
    </script>
<![endif]-->
{% endblock %}
