.loader {
  display: none;
  left: 50%;
  margin-left: -21px;
  position: absolute;
}

.main-title {
  color: #f0731f;
}

/* ==========================================================================
   ballot custom checkbox
   ========================================================================== */
   .ac-custom .option {
    margin-bottom: 5px;
  }

  .ac-custom .option .content {
    padding: 10px 30px 10px 50px;
    position: relative;
  }

  .ac-custom .option .checked {
    opacity: 0.5opacity: 0.8;
    background-color: #e9e9e9 !important;
  }


  .ac-custom label {
    display: block;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;

  }

  .ac-custom input[type="checkbox"],
  .ac-custom label::before {
    width: 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
  }

  .ac-custom input[type="checkbox"] {
    float: left;
    height: 20px;
    width: 20px;
  }

  .ac-custom input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    display: block;
    vertical-align: middle;
    z-index: 100;
    width: 30px;
    height: 30px;
  }

  .ac-custom label::before {
    content: '';
    border: 2px solid #036e35;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .ac-custom input[type="checkbox"]:checked + label {
    color: #606B61;
  }

  .ac-custom input[type="checkbox"]:checked + label::before {
    opacity: 0.8;
  }


/* ==========================================================================
   General SVG and path styles
   ========================================================================== */
   .ac-custom svg {
    position: absolute;
    width: 20px;
    height: 30px;
    left: 10px;
    pointer-events: none;
    margin-top: -16px;
    top: 50%;
  }

  .ac-custom svg path {
    stroke: #f59453;
    stroke-width: 13px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

/* ==========================================================================
   category icons background
   ========================================================================== */
   .ctg-1 .icon {
    background-position: 0 -9px;
  }
  .ctg-1 .icon .img {
    background-position: -65px -9px;
  }

  .ctg-2 .icon {
    background-position: 0px -68px;
  }
  .ctg-2 .icon .img {
    background-position: -65px -68px;
  }

  .ctg-3 .icon {
    background-position: 0 -130px;
  }
  .ctg-3 .icon .img {
    background-position: -65px -130px;
  }

  .ctg-4 .icon {
    background-position: 0 -191px;
  }
  .ctg-4 .icon .img {
    background-position: -65px -191px;
  }

  .ctg-5 .icon {
    background-position: 0 -250px;
  }
  .ctg-5 .icon .img {
    background-position: -65px -250px;
  }

  .ctg-6 .icon {
    background-position: 0 -310px;
  }
  .ctg-6 .icon .img {
    background-position: -65px -310px;
  }

  .ctg-7 .icon {
    background-position: 0 -370px;
  }
  .ctg-7 .icon .img {
    background-position: -65px -370px;
  }

  .ctg-8 .icon {
    background-position: 0 -430px;
  }
  .ctg-8 .icon .img {
    background-position: -65px -430px;
  }

  .ctg-9 .icon {
    background-position: 0 -490px;
  }
  .ctg-9 .icon .img {
    background-position: -65px -490px;
  }

  .ctg-10 .icon {
    background-position: 0 -550px;
  }
  .ctg-10 .icon .img {
    background-position: -65px -550px;
  }

  .ctg-11 .icon {
    background-position: 0 -610px;
  }
  .ctg-11 .icon .img {
    background-position: -65px -610px;
  }

  .ctg-12 .icon {
    background-position: 0 -670px;
  }
  .ctg-12 .icon .img {
    background-position: -65px -670px;
  }

  .ctg-13 .icon {
    background-position: 0 -730px;
  }
  .ctg-13 .icon .img {
    background-position: -65px -730px;
  }

  .ctg-14 .icon {
    background-position: 0 -790px;
  }
  .ctg-14 .icon .img {
    background-position: -65px -790px;
  }

  .ctg-15 .icon {
    background-position: 0 -850px;
  }
  .ctg-15 .icon .img {
    background-position: -65px -850px;
  }

  .ctg-16 .icon {
    background-position: 0 -910px;
  }
  .ctg-16 .icon .img {
    background-position: -65px -910px;
  }

/* ==========================================================================
   ballot nav + categories dropdown menu
   ========================================================================== */
   .ballot-nav {
    background-color: #f6f6f6;
    margin-bottom: 20px;
    padding: 0 10px;
    vertical-align: middle;
  }

  .ballot-nav .itens-count {
    color: #f0731f;
    font-weight: bold;
  }

  .ballot-nav .btn-group {
    float: left;
    margin-left: -10px;
    position: static;
  }

  #btn-categories {
  }

  .btn-group.open #btn-categories,
  .btn-group #btn-categories:active {
  }

  #btn-categories .caret {
    margin-left: 5px;
  }

  #dropdown-categories {
    border-radius: 0;
    left: 5px;
    margin: 0;
    padding: 0;
    top: 32px;
    width: 100%;
  }

  #dropdown-categories:before {
    border-bottom: 8px solid #FFF;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    height: 0;
    margin-left: -4px;
    position: absolute;
    left: 55px;
    top: -8px;
    width: 0;
  }

  /*.check-count li {
    float: left;
    margin-left: 10px;
    position: relative;
  }

  .check-count input[type="checkbox"] {
    cursor: default;
    left: 0;
    margin-top: -2px;
    position: relative;
  }

  .check-count li::before {
    border: 2px solid #036e35;
    content: '';
    cursor: pointer;
    display: block;
    height: 30px;
    margin-top: -15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    top: 50%;
    position: absolute;
    width: 30px;
  }

  .check-count svg {
    left: 5px;
    }*/

    @media (min-width: 768px) {

      .ballot-nav .btn-group {
        margin-left: 0;
      }

      #dropdown-categories {
        left: 15px;
        width: auto;
      }
    }

    #dropdown-categories li {
      border-bottom: solid 1px #CCC;
    }

    #dropdown-categories li a {
      display: block;
      line-height: 40px;
      padding: 5px 0 0;
      white-space: normal;
      width: 100%;
    }

    #dropdown-categories li a span {
      display: inline-block;
      line-height: normal;
      padding-left: 60px;
      padding-right: 20px;
      position: relative;
    }

    #dropdown-categories li a span .icon {
      background-image: url(../../images/cat-icons.svg);
      content: "";
      display: block;
      height: 40px;
      margin-top: -20px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 60px;
    }

/* ==========================================================================
   ballot
   ========================================================================== */
   .ballot {
/*    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    opacity: 1;*/
    margin-bottom: 50px;
    /*min-height: 400px;*/
  }

  .ballot.animate {
    opacity: 0;
  }

  .ballot .step-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .ballot .step-category {
    color: #FFF;
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
    margin: 30px 0 0;
    min-height: 40px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
  }

  .ballot .step-category .icon {
    background-color:rgba(0, 0,0,0.5);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 40px;
  }

  .ballot .step-category .icon .img {
    background-image: url(../../images/cat-icons.svg);
    content: "";
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
  }

  .ballot .step-category .title {
    color: #FFF;
    cursor: default;
    display: inline-block;
    line-height: normal;
    padding-top: 5px;
  }

  .ballot .step-category .title:hover {
    text-decoration: none;
  }

/* ==========================================================================
   ballot categories title background
   ========================================================================== */
   .ballot .step-category.ctg-1 {
    background-color: #3B65DB;
  }

  .ballot .step-category.ctg-2 {
    background-color: #44B752;
  }

  .ballot .step-category.ctg-3 {
    background-color: #C9B435;
  }

  .ballot .step-category.ctg-4 {
    background-color: #CC5252;
  }

  .ballot .step-category.ctg-5 {
    background-color: #DD863E;
  }

  .ballot .step-category.ctg-6 {
    background-color: #40C0DD;
  }

  .ballot .step-category.ctg-7 {
    background-color: #784C9B;
  }

  .ballot .step-category.ctg-8 {
    background-color: #93C445;
  }

  .ballot .step-category.ctg-9 {
    background-color: #CE57B7;
  }

  .ballot .step-category.ctg-10 {
    background-color: #B8BC2A;
  }

  .ballot .step-category.ctg-11 {
    background-color: #4C845A;
  }

  .ballot .step-category.ctg-12 {
    background-color: #A31414;
  }

  .ballot .step-category.ctg-13 {
    background-color: #487CA3;
  }

  .ballot .step-category.ctg-14 {
    background-color: #7F7F7F;
  }

  .ballot .step-category.ctg-15 {
    background-color: #AF5715;
  }

  .ballot .step-category.ctg-16 {
    background-color: #46AF91;
  }

/* ==========================================================================
   ballot categories options background
   ========================================================================== */
   .ballot .option .ctg-1 {
    background-color: #D2D8F5;
  }

  .ballot .option .ctg-2 {
    background-color: #DCECD6;
  }

  .ballot .option .ctg-3 {
    background-color: #EFECD0;
  }

  .ballot .option .ctg-4 {
    background-color: #ECD4D4;
  }

  .ballot .option .ctg-5 {
    background-color: #F1E0D0;
  }

  .ballot .option .ctg-6 {
    background-color: #DDEFF6;
  }

  .ballot .option .ctg-7 {
    background-color: #DAD2E5;
  }

  .ballot .option .ctg-8 {
    background-color: #E7F0D3;
  }

  .ballot .option .ctg-9 {
    background-color: #ECD5EC;
  }

  .ballot .option .ctg-10 {
    background-color: #EDEECE;
  }

  .ballot .option .ctg-11 {
    background-color: #D7E0D6;
  }

  .ballot .option .ctg-12 {
    background-color: #E2C6C6;
  }

  .ballot .option .ctg-13 {
    background-color: #D6DEE7;
  }

  .ballot .option .ctg-14 {
    background-color: #DEDEDE;
  }

  .ballot .option .ctg-15 {
    background-color: #E6D5C7;
  }

  .ballot .option .ctg-16 {
    background-color: #DBEAE3;
  }

  .ballot .option .desc-toggle {
    background: url(../../images/btn-toggle.png) no-repeat top left;
    background-position: 0 0;
    color: #f0731f;
    cursor: pointer;
    display: block;
    height: 17px;
    margin-left: 10px;
    position: absolute;
    right: 15px;
    text-shadow: 0 0 0 #000;
    top: 10px;
    width: 16px;
  }

  .ballot .option .desc-toggle.less {
    background-position: 0 -67px;
  }

  .ballot .option .desc {
    display: none;
    font-size: 14px;
    margin: 5px 5px 40px;
    position: relative;
  }

  .ballot .option .desc:before {
    content: "";
    left: 50%;
    margin-left: -4px;
    top: -13px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #FFF;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
  }

  #btn-vote {
    display: block;
    margin: 10px auto;
    margin-top: 40px;
    min-width: 200px;
  }

/* ==========================================================================
   Large devices
   ========================================================================== */
   @media (min-width: 768px) {
    .ballot .step-title {
      font-size: 25px;
    }

    #button-bar .btn {
      width: 300px;
    }
  }


  #info-msg {
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 15px;
    z-index: 9999;
  }

  #info-msg.confirm {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }

  #info-msg .count {
    font-size: 25px;
  }

  #info-msg.complete {
    background-color: rgba(255, 204, 0, 1);
  }



  #info-msg.affix {
    border-bottom: solid 1px #CCC;
    left: 0;
    margin-top: 0;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .ballot-search label,
  .ballot-search input[type="checkbox"],
  .ballot-search label::before {
    cursor: default;
  }

#confirmation-modal {
  margin-bottom: 0;
}

  #confirmation-modal label:before {
    display: none;
  }

  #confirmation-modal label {
    padding: 0.4em 0;
    margin: auto;
    font-weight: 300;
}