.loader {
  display: none;
  left: 50%;
  margin-left: -21px;
  position: absolute;
}

.ballot-nav {
  background-color: #ffcf9e;
  margin: -20px -20px 0;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  vertical-align: middle;
}

#btn-categories {
  background: none;
}

#dropdown-categories li {
  margin: 10px 0;
}

#dropdown-categories li a {
  display: inline-block;
  float: left;
  line-height: 40px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

#dropdown-categories li a:before {
  background-image: url(../../images/cat-icons.svg);
  content: "";
  display: inline-block;
  height: 40px;
  float: left;
  width: 60px;
}

.ballot {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 1;
  margin-bottom: 50px;
  min-height: 400px;
}

.ballot.animate {
  opacity: 0;
}

.ballot .step-title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

.ballot .step-category {
  border-bottom: solid 1px #CCC;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  margin: 30px 0 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  position: relative;
}

.ballot .step-category:before {
  background-image: url(../../images/cat-icons.svg);
  content: "";
  display: block;
  height: 40px;
  left: 0;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 60px;
}

.ctg-1:before {
  background-position: 0 -9px;
}

.ctg-2:before {
  background-position: 0 -68px;
}

.ctg-3:before {
  background-position: 0 -130px;
}

.ctg-4:before {
  background-position: 0 -191px;
}

.ctg-5:before {
  background-position: 0 -250px;
}

.ctg-6:before {
  background-position: 0 -310px;
}

.ctg-7:before {
  background-position: 0 -370px;
}

.ctg-8:before {
  background-position: 0 -430px;
}

.ctg-9:before {
  background-position: 0 -490px;
}

.ctg-10:before {
  background-position: 0 -550px;
}

.ctg-11:before {
  background-position: 0 -610px;
}

.ctg-12:before {
  background-position: 0 -670px;
}

.ctg-13:before {
  background-position: 0 -730px;
}

.ctg-14:before {
  background-position: 0 -790px;
}

.ctg-15:before {
  background-position: 0 -850px;
}

.ctg-16:before {
  background-position: 0 -910px;
}

.ballot .options {
  display: none;
}

.ac-custom li {
  list-style: none;
  margin: 0 auto;
  padding: 10px 0 10px 40px;
  position: relative;
}

.ac-custom label {
  display: inline-block;
  line-height: normal;
  position: relative;
  font-size: 17px;
  font-weight: normal;
  padding: 0 0 0 50px;
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
  width: 30px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.ac-custom label::before {
  content: '';
  border: 2px solid #a5d6b3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ac-radio label::before {
  border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
  color: #007034;
}

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
  opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
  position: absolute;
  width: 20px;
  height: 30px;
  left: 45px;
  pointer-events: none;
  margin-top: -18px;
  top: 50%;
}

.ac-custom svg path {
  stroke: #007034;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

#button-bar .btn {
  display: block;
  margin: 10px auto;
  width: 300px;
}

#btn-vote {
  margin-top: 40px;
}

/*
 * Small devices
 */
 @media (max-width: 767px)  {

  #button-bar {
    width: 100%;
  }

  #button-bar .btn {
    margin: 0;
    width: 100%;
  }
}